.spin-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(203, 73, 73, 0); /* Adjust the background color and opacity as desired */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
}
  
.spin-container {
    display: inline-block;
    width: 80px;
    height: 80px;
    border: 6px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top-color: #3498db;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}
  
@keyframes spin {
    to {
      transform: rotate(360deg);
    }
}
  
@-webkit-keyframes spin {
    to {
      transform: rotate(360deg);
    }
}
