/* כל הודעה מוצגת כבלוק גמיש עם מרווחים */


/* הגדרת טקסט */
.message-item p {
  margin: 0;
  font-size: 1rem;
}

.message-item.operation {
  padding: 0;
  max-width: 100%;
  color: #fff;
  text-align: center;
  align-self: center;
}
