.mobile-navigation {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  padding: 10px; /* Adjust as needed for spacing between topics */
}

.navigation-topic {
  flex: 0 0 33.33%; /* כל נושא תופס ~שליש מסך, או שתשנה כרצונך */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 5px;
  margin-right: 10px;
  height: 4rem;
  position: relative;
  transition: background-color 1s ease;
}

.active-topic {
  background-color: #007bff; /* צבע רקע אחר לקטגוריה פעילה */
  color: #fff;
  transition: background-color 1s ease;
}

.navigation-topic-underline {
  width: 80%;
  height: 4px;
  background-color: #ffffff;
  position: absolute;
  bottom: 5px;
  left: 10%;
  transition: left 1s ease;
}
