/* ------------------------------------------------------ */
/*    Keyframes לאנימציות ההחלקה                         */
/* ------------------------------------------------------ */
@keyframes middleToRight {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes middleToLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes leftToRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes rightToLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes rightToMiddle {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes leftToMiddle {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
