.list__search-bar-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0;
  margin-left: 3rem;
  margin-right: 3rem;
}


@keyframes middleToRight {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes middleToLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes leftToRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
  
}

@keyframes rightToMiddle {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes rightToLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes leftToMiddle {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.list__products-wrapper {
  overflow-x: hidden; /* Add this to hide horizontal overflow */
}

.list__products-container {
  overflow-x: hidden;
  position: relative;
  min-height: calc(100vh - var(--offset-top));
  overflow-y: auto;
  /* transition: transform 1s ease, background-color 0.5s ease; */
  /* background-color: #ffffff; Base color */
  /* transform: translateX(100%);
  transform: translateX(50%); */
}

/* Additional CSS to calculate the offset from the top */
:root {
  --offset-top: 100px; /* Adjust this value based on the actual offset from the top */
}

.list__product-card {
  position: relative; /*New*/
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
  background-color: #fff;
  overflow: hidden;

}

.list__product-badge {
  position: absolute;      /* Absolute positioning relative to parent */
  top: 3px;               /* Distance from the top */
  left: -27px;              /* Distance from the left */
  background-color: #af4c4c90; /* Green background */
  color: white;            /* White text */
  padding: 5px;            /* Some padding */
  border-radius: 5px;      /* Rounded corners */
  font-size: 0.9rem;       /* Font size */
  text-align: center;      /* Centered text */
  transform: rotate(-45deg); /* Rotate badge */
  width: 90px;  
  font-weight: bold;          /* Size of badge */
}



.list__product-details {
  display: flex;
  flex-direction: row;
}

.list__product-data {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 60%;
  padding-right: 5px;
}

.list__product-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #2f416e;
  margin: 0;
}

.list__product-info {
  display: flex;
  flex-direction: row-reverse;
}

.list__product-weight {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #2f416e;
  margin: 0;
}

.list__product-weight p {
  margin-left: 3px;
}

.list__product-brand {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #2f416e;
  margin: 0;
}

.list__product-brand p {
  margin-right: 3px;
  font-weight: bold;
}

.list__product-price {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: #a0a0a0;
  margin: 0;
}

.list__product-image {
  width: 40%;
}

.list__product-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 5px;
}

.list__product-operations {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 5px;
}

.list__product-operations__confirm,
.list__product-operations__add,
.list__product-operations__reduce {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding: 10px 15px;
  border: 2px solid #ccc;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: white; /* Text color */
}

.list__product-operations__add,
.list__product-operations__reduce {
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.list__product-operations__confirm {
  background-color: #008cba; /* Blue background for confirm */
  width: 6rem;
  padding: 10px 7px;
  margin-right: 2rem;
}

.list__product-operations__confirm:hover {
  background-color: #007b9a; /* Darker blue on hover */
}

.list__product-operations__add {
  background-color: #4caf50; /* Green background for add */
  margin-right: 0.5rem;
}

.list__product-operations__add:hover {
  background-color: #3e8e41; /* Darker green on hover */
}

.list__product-operations__reduce {
  background-color: #f44336; /* Red background for reduce */
  margin-left: 0.5rem;
}

.list__product-operations__reduce:hover {
  background-color: #d32f2f; /* Darker red on hover */
}

.list__product-operations__quantity {
  font-size: 1rem;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
}




