.cart-operations-add-animation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.coaa_open-modal button {
  background-color: #007bff;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
