.spinner-container {
  position: fixed; /* Overlay the spinner on top of the content */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.164); /* Semi-transparent black overlay */
  z-index: 9999; /* Ensure the spinner is on top */
  transition: opacity 0.3s ease; /* Smooth fade-in transition */
}

.spinner-container p {
  color: white; /* Make the loading text white to contrast with the overlay */
  margin-left: 10px; /* Space between the spinner and the text */
  font-size: 1.5rem; /* Make the text larger */
}

.spinner-container .ant-spin-dot {
  font-size: 50px;
  color: purple;
}

.compareM__product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.compareM__product-name {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  padding: 0;
}

.compareM__product-name p {
  font-family: "Arial", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #2f416e;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.compareM__details_label {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.5rem;
  margin-right: 1.5rem;
  padding: 0;
}

.compareM__details_label p {
  font-size: 1.5rem;
  color: #2f416e;
  font-weight: bold;
}

.compareM__product-weight {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 100%;
  align-items: center;
  margin-bottom: 0.5rem;
}

.compareM__product-weight p {
  margin-left: 0.5rem;
  font-size: 1rem;
  color: #2f416e;
}

.compareM__product-brand {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 100%;
  align-items: center;
  margin-bottom: 0.5rem;
}

.compareM__product-brand p {
  margin-left: 0.5rem;
  font-size: 1rem;
  color: #2f416e;
}

.compareM__product-barcode {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 100%;
  align-items: center;
  margin-bottom: 0.5rem;
}

.compareM__product-barcode p {
  margin-left: 0.5rem;
  font-size: 1rem;
  color: #2f416e;
}

.compareM__product-weight p:first-child,
.compareM__product-brand p:first-child,
.compareM__product-barcode p:first-child {
  margin-right: 1rem;
  text-transform: uppercase;
  color: #2f416e;
}

.compareM__line {
  width: 60%;
  height: 1px;
  background-color: #ccc;
  margin-left: auto;
  margin-right: 0;
}

.compareM__supermarket-price-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
  padding: 0;
  background: #f5f5f5;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.compareM__supermarket-name__image {
  display: flex;
  flex: 0 0 30%;
  width: 100px;
  height: 100px;
  margin: 0;
  padding-right: 3px;
}

.compareM__supermarket-name__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.compareM__supermarket-address {
  display: flex;
  padding-right: 3px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.compareM__supermarket-address p {
  text-align: center;
}

.compareM__product-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  width: 40%;
  border-right: 1px solid #ccc;
  height: 75px;
}

.compareM__price-unit {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  justify-content: flex-end;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}

.compareM__price-unit p {
  font-size: 1.2rem;
}

.compareM__price-sale {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 0.9rem;
  margin-right: 1rem;
}

.compareM__price-sale p {
  color: red;
}

.compareM__price-sale_details {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  justify-content: flex-start;
}

.compareM__price-sale_unit-price {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  justify-content: flex-start;
}
