@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
.App {
  min-height: 100vh;
  height: 100vh;
  padding-top: 40px;
}

.App::before {
  content: "";
  position: fixed; /* קבוע למסך, לא לתוכן */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; /* מאחורי התוכן */
  background: linear-gradient(35deg, rgb(201 240 255) 0%, rgb(255 255 255) 95%);
}

.row {
  display: flex;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.col {
  float: left;
  width: 50%;
}
